body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#container {
    background-color: #333333;
    width: 360px;
    margin: 0 auto;
    border-radius: 15px;
    overflow: hidden;
}
.display-view {
    color: #fff;
    font-size: 4rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 90px;
    padding-right: 10px;
}
#keys-container {
    height: 360px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 0.1rem;
}
.num-pad-key {
    width: auto;
    height: auto;
    border: none;
    background-color: #1F1F1F;
    color: #fff;
    font-size: 2.5rem;
}
.special-key {
    font-size: 1.7rem;
    background-color: #47494B;
}
.num-pad-key:not(:disabled,.equal-key):hover,
.num-pad-key[data-type="operator"]:focus {
    background-color: #595959;
}
.equal-key {
    background-color: #0078D4;
}
.equal-key:hover {
    background-color: #0091ff;
}
.num-pad-key:disabled {
    cursor: not-allowed;
}
footer {
    position: fixed;
    bottom: 0;
    margin-bottom: 10px;
}