#container {
    border: 1px solid #000;
    display: grid;
    width: 480px;
    height: 480px;
    margin: 0 auto;
}
.square {
    border: 1px solid #000;
}
.bg-black {
    background-color: #000;
}